<template>
  <require from="components/spread.html"></require>
  <require from="styles/app.styl"></require>
  <require from="styles/blog-post.styl"></require>

  <div class="post au-animate" css="background: ${bgColor}">
    <div class="background-image" css="background: url(${bgImage}) 50% 50% / cover no-repeat;"></div>
    <div class="nav-button left">
      <a class="button" route-href="route: home;">
        <i class="fas fa-th"></i>
      </a>
    </div>
    <div class="nav-button right" show.bind="slots.menu.children.length">
      <a class="button" click.delegate="showPanel = !showPanel">
        <i class="fal fa-bars"></i>
      </a>
    </div>

    <main class="container">
      <div class="title">
        <slot name="title"></slot>
      </div>

      <div class="panel-bottom au-animate" show.bind="showPanel" css="background: ${color}">
        <slot name="menu"></slot>
      </div>

      <section id="post-cover">
        <div class="segment pad-medium-up">
          <spread class="attached" background.bind="color">
            <div>
              <slot name="cover-main"></slot>
            </div>
            <div slot="side">
              <slot name="cover-side"></slot>
            </div>
          </spread>
        </div>
      </section>

      <section id="post-body">
        <div class="segment pad-medium-up">
          <spread background="#fff">
            <div class="text">
              <slot name="content-main"></slot>
            </div>
            <div slot="side">
              <slot name="content-side"></slot>
            </div>
          </spread>
        </div>
      </section>
    </main>
  </div>
</template>
