<template>
  <require from="components/common"></require>
  <require from="styles/playlist-editor.styl"></require>

  <div class="audio-stream">
    <label for="audio-content-url">Audio URL</label>
    <input id="audio-content-url" value.bind="data.audio.contentUrl">
  </div>

  <div class="timestamps">
    <ul id="timestamp-list">
      <li repeat.for="track of data.tracks" css="width: ${trackWidth(track)}"></li>
    </ul>
  </div>

  <div class="playlist-editor">
    <table>
      <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Artist</th>
        <th>Year</th>
        <th>Duration</th>
      </tr>

      <tr repeat.for="track of data.tracks">
        <td>${ $index + 1}</td>
        <td>${ track.name }</td>
        <td>${ track.byArtist }</td>
        <td>${ track.copyrightYear }</td>
        <td>${ track.duration.value }</td>
      </tr>
    </table>
    <!--
    <ul class="tracks">
      <li 
        repeat.for="track of data.tracks"
        click.delegate="selectTrack($index)"
        class="
          ${selectedTrack === $index ? 'active': ''}
          ${dragTarget === $index ? 'drag-target' : ''}
          ${dragSource === $index ? 'drag-source' : ''}"
        draggable="true"
        dragstart.trigger="dragStart($event, $index)"
        dragover.trigger="dragOver($event, $index)"
        dragend.trigger="dragDrop($index)"
      >
        <span class="track-index">${$index + 1}</span> ${track.name}
      </li>
    </ul>
    <div class="track-edit">
      <fieldset>
        <label for="track-name">Name</label>
        <input id="track-name" value.bind="track.name">
        <label for="artist-name">Artist</label>
        <input id="artist-name" value.bind="track.byArtist">
        <label for="year">Year</label>
        <input id="year" type="number" value.bind="track.copyrightYear | integerFromInput">
        <label for="duration">Duration</label>
        <input id="duration" value.bind="track.duration.value" change.call="onDurationChanged(track)">
      </fieldset>
    </div>
  -->
  </div>
</template>
