<template>
  <require from="components/common/common"></require>
  <require from="components/mix"></require>
  <require from="components/player/play-button"></require>
  <require from="styles/player.styl"></require>
  <require from="styles/timeline.styl"></require>

  <section class="track-details content uk-light">
    <h1>${currentTrack.name}</h1>
    <h2>${currentTrack.byArtist} · ${currentTrack.copyrightYear}</h2>
  </section>
  <section class="track-controls">
    <span class="timestamp time">${currentTime | time}</span>
    <a click.delegate="player.skipBackward()" class="skip-backward button">
      <i class="fal fa-step-backward"></i>
    </a>
    <play-button playlist.bind="playlist"></play-button>
    <a click.delegate="player.skipForward()" class="skip-forward button">
      <i class="fal fa-step-forward"></i>
    </a>
    <span class="timestamp duration">${duration | time}</span>

    <section class="track-timeline">
      <input type="range" min="0" max.bind="duration" value.bind="currentTime | integerFromInput" step="0.1">
    </section>
  </section>
</template>