<template bindable="color, image, url">
  <require from="styles/card.styl"></require>

  <div class="card" style="background: ${color};">
    <a class="card-image" href.bind="url">
      <div class="card-image-inner" style="background-image: url(${image}); color: ${color};">
        <div class="card-image-overlay" 
          style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0), ${color});"></div>
        <article class="card-title">
          <slot name="title"></slot>
        </article>
      </div>
    </a>
    <footer class="card-footer">
      <slot name="footer"></slot>
    </footer>
  </div>
</template>
