<template>
  <require from="value-converters"></require>
  <require from="components/editor/navbar.html"></require>
  <require from="components/editor/color-picker"></require>
  <require from="components/editor/image-upload"></require>
  <require from="components/editor/audio-upload"></require>
  <require from="components/editor/tag-list"></require>
  <require from="components/editor/post/playlist-timeline"></require>
  <require from="styles/editor.styl"></require>
  <require from="styles/animations.styl"></require>

  <nav class="uk-navbar-container uk-light editor-navbar" uk-navbar="mode: click">
    <ul if.bind="mode === 'tracks'" class="uk-navbar-nav" style="width: 100%">
      <li class="${tab === 'menu' ? 'uk-active' : ''}">
        <a href="#" click.delegate="tab = 'menu'">
          <span class="uk-margin-small-right" uk-icon="menu"></span>
          Menu
        </a>
      </li>
      <li>
        <a href="#" click.delegate="addTrack()">
          <span class="uk-margin-small-right" uk-icon="plus"></span>
          Add Track
        </a>
      </li>
      <div class="uk-navbar-right" style="flex: 1">
        <playlist-timeline playlist.bind="post" selected.bind="tab" select.call="tab = index"></playlist-timeline>
      </div>
    </ul>
    <navbar if.bind="mode === 'post'" items.bind="menu" selected.bind="tab" select.call="tab = id"></navbar>
  </nav>

  <div class="editor-panel au-animate animate-slide-in-left animate-slide-out-left" if.bind="editor.active && !track">
    <div class="uk-padding" if.bind="tab === 'menu'">
      <div class="uk-width-1-1@s">
        <ul class="uk-nav uk-nav-default">
          <li><a route-href="route: home;">Home</a></li>
          <li class="uk-nav-divider"></li>
          <li class="${mode === 'post' ? 'uk-active' : ''}"><a click.delegate="mode = 'post'">Post</a></li>
          <li class="${mode === 'tracks' ? 'uk-active' : ''}"><a click.delegate="mode = 'tracks'">Playlist</a></li>
        </ul>
      </div>
    </div>
    <div class="uk-padding" if.bind="tab === 'settings'">
      <div class="uk-margin">
        <label for="post-image">Theme</label>
        <select class="uk-select" value.bind="theme">
          <option value="default">Default</option>
        </select>
        <div class="uk-margin" repeat.for="setting of themeSettings.settings">
          <color-picker if.bind="setting.type === 'color'" name.bind="setting.name" color.bind="settings[setting.key]"></color-picker>
        </div>
      </div>
    </div> 
    <div class="uk-padding" if.bind="tab === 'content'">
      <div class="uk-margin">
        <label for="post-headline">Headline</label>
        <input class="uk-input" id="post-headline" type="text" value.bind="post.headline">
      </div>
      <div class="uk-margin">
        <label for="post-image">Image</label>
        <select class="uk-select" value.bind="post.image">
          <option value.bind="image" repeat.for="image of images.files">${image}</option>
        </select>
      </div>
      <div class="uk-margin">
        <label for="post-audio">Audio</label>
        <input class="uk-input" id="post-audio" type="text" value.bind="post.audio.contentUrl">
      </div>
      <div class="uk-margin">
        <fieldset class="uk-fieldset">
          <legend>Genres</legend>
          <tag-list tags.bind="post.genres"></tag-list>
        </fieldset>
      </div>
      <div class="uk-margin">
        <fieldset class="uk-fieldset">
          <legend>Keywords</legend>
          <tag-list tags.bind="post.keywords"></tag-list>
        </fieldset>
      </div>
    </div>

    <div class="text-editor uk-padding" if.bind="tab === 'text'">
      <textarea class="uk-textarea" value.bind="post.text" spellcheck="false" style="height: 100%"></textarea>
    </div>

    <div class="uk-padding" if.bind="tab === 'assets'">
      <ul uk-accordion>
        <li>
          <a class="uk-accordion-title" href="#">Images</a>
          <div class="uk-accordion-content">
            <image-upload content.bind="images"></image-upload>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Audio</a>
          <div class="uk-accordion-content">
            <audio-upload content.bind="audio"></audio-upload>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="editor-panel uk-padding au-animate animate-slide-in-right animate-slide-out-right" if.bind="editor.active && track">
    <div class="uk-margin">
      <label for="track-name">Name</label>
      <input class="uk-input" id="track-name" type="text" value.bind="track.name">
    </div>
    <div class="uk-margin">
      <label for="track-artist">Artist</label>
      <input class="uk-input" id="track-artist" type="text" value.bind="track.byArtist">
    </div>
    <div class="uk-margin">
      <label for="track-year">Year</label>
      <input class="uk-input" id="track-year" type="number" value.bind="track.copyrightYear | integerFromInput">
    </div>
    <div class="uk-child-width-1-2@s uk-margin" uk-grid>
      <div>
        <label for="track-minutes">Minutes</label>
        <input class="uk-input" id="track-minutes" type="number" value.bind="track.duration.minutes | integerFromInput">
      </div>
      <div>
        <label for="track-seconds">Seconds</label>
        <input class="uk-input" id="track-seconds" type="number" value.bind="track.duration.seconds | integerFromInput" step="0.1">
      </div>
    </div>
    <div class="uk-padding uk-padding-remove-horizontal">
      <button class="uk-button uk-box-shadow-small" click.delegate="removeSelectedTrack()">
        <span class="uk-margin-small-right" uk-icon="trash"></span>
        Remove
      </button>
    </div>
  </div>
</template>
