@import 'settings';

.post-list
  display: grid;

  &.cols-1
    grid-template-columns: 1fr;

  &.cols-2
    grid-template-columns: repeat(2, 1fr);

  &.cols-3
    grid-template-columns: repeat(3, 1fr);

  &.cols-4
    grid-template-columns: repeat(4, 1fr);

  &.cols-5
    grid-template-columns: repeat(5, 1fr);

.post-list-footer
  padding: 50px 0;

  .button
    width: 100%;

    a
      justify-content: center;
