@import 'settings';

@keyframes postEnter
  0% {opacity: 1;}
  100% {opacity: 1;}

@keyframes postLeave
  0% {opacity: 1;}
  100% {opacity: 1;}

@keyframes coverFrameLeave
  0%
    transform: scale(1);
  100%
    transform: scale(0.8);
    -webkit-box-reflect: below 20px -webkit-linear-gradient(bottom, rgba(255,255,255,0.1) 0%, transparent 25%, transparent 100%);

@keyframes coverFrameEnter
  0%
    transform: scale(0.8);
    -webkit-box-reflect: below 20px -webkit-linear-gradient(bottom, rgba(255,255,255,0.1) 0%, transparent 25%, transparent 100%);
  100%
    transform: scale(1);

@keyframes playerEnter
  0% {transform: translateY(300px);}
  100% {transform: translateY(0px);}

@keyframes playerLeave
  0% {transform: translateY(0px);}
  100% {transform: translateY(300px);}

.post.au-enter-active
  animation: postEnter 0.5s;

  .cover-frame
    animation: coverFrameEnter 0.5s;
  .player
    animation: playerEnter 0.5s;

.post.au-leave-active
  background: #100d0c!important;

  animation: postLeave 0.5s;

  .cover-frame
    animation: coverFrameLeave 0.5s;
  .player
    animation: playerLeave 0.5s;

.hidden
  display: none!important;

.post
  transition: background 0.3s;

.playlist-section
  margin: 100px 0;

.content-section
  background: #fff;

.grid
  display: grid;
  grid-template-columns: auto calc((100vh - 400px) * 1.618) auto;
  grid-template-rows: 140px calc(100vh - 400px) 260px;

  @media (max-aspect-ratio: 3/2)
    .title
      text-align: center;
  
  @media (max-aspect-ratio: 10/9)
    grid-template-columns: auto 100vw auto;

    .cover-frame
      padding: 40px 0;

footer
  grid-row: 3;
  grid-column: 1;
  grid-column-end: 4;
  position: relative;

.title
  padding-top: 50px;
  grid-row: 1;
  grid-column: 2;

  h1
    margin: 0;

  h2
    font-family: font-primary;
    font-weight: 300;
    font-size: 1em;
    margin: 0;
    letter-spacing: 0.2em;
    word-spacing: 0.15em;
    color: color-accent;

    span:after
      content: "/";
      margin: 0 10px;
    span:last-child:after
      content: "";

.cover-frame {
  background: #d6cabe;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
}

.post-content
  margin: 0 auto;
  padding: 100px 0;
  
.cover-frame
  -webkit-box-reflect: below 20px -webkit-linear-gradient(bottom, rgba(255,255,255,0.1) 0%, transparent 25%, transparent 100%);

.post
  .cover-frame
    -webkit-box-reflect: below 20px -webkit-linear-gradient(bottom, rgba(255,255,255,0.1) 0%, transparent 75%, transparent 100%);

.cover-section
  width: 100vw;
  height: 100vh;

.cover
  grid-row: 2;
  grid-column: 2;
  position: relative;

  .cover-image
    width: 100%;
    box-shadow: inset 1px 1px 6px 2px rgba(0,0,0,0.5);

.post-page
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  margin: 0 20px;

.post
  width: 100vw;
  height: 100vh;

  .post-body
    overflow-y: auto;

.excerpt
  font-size: 1.2em;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  color: rgba(0,0,0,0.62);
  width: calc(100vw - 200px);
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 5px 0;

  &:after
    bottom: 0;
  &:before
    top: 0;

  &:before, &:after
    background-color: #cd9023;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -18px;
    position: absolute;
    width: 36px;
