@import 'settings';

@keyframes postEnter
  0% {opacity: 1;}
  100% {opacity: 1;}

@keyframes postLeave
  0% {opacity: 1;}
  100% {opacity: 1;}

@keyframes coverFrameLeave
  0%
    transform: scale(1);
    opacity: 1;
  100%
    transform: scale(0.8);
    opacity: 0;

@keyframes coverFrameEnter
  0%
    transform: scale(0.8);
  100%
    transform: scale(1);

@keyframes playerEnter
  0%
    transform: translateY(200px);
    opacity: 0;
  100%
    transform: translateY(0px);
    opacity: 1;

@keyframes playerLeave
  0% 
    transform: translateY(0px);
    opacity: 1;
  100% 
    transform: translateY(200px);
    opacity: 0;

@keyframes tracklistEnter
  0%
    transform: translateX(200px);
    opacity: 0;
  100%
    transform: translateX(0px);
    opacity: 1;

@keyframes tracklistLeave
  0% 
    transform: translateX(0px);
    opacity: 1;
  100% 
    transform: translateX(200px);
    opacity: 0;

.post.au-enter-active
  animation: postEnter 0.5s;

  cover
    animation: coverFrameEnter 0.5s;
  tracklist
    animation: tracklistEnter 0.5s;
  .player
    animation: playerEnter 0.5s;

.post.au-leave-active
  background: #100d0c!important;

  animation: postLeave 0.5s;

  cover
    animation: coverFrameLeave 0.5s;
  tracklist
    animation: tracklistLeave 0.5s;
  .player
    animation: playerLeave 0.5s;

.hidden
  display: none!important;

.post
  transition: background 0.3s;

.playlist-section
  margin: 100px 0;

.content-section
  background: #fff;

.cover-footer
  position: absolute;
  width: 100vw;
  height: 260px;
  bottom: 0;

.post-content
  margin: 0 auto;
  padding: 100px 0;

  @media screen and (min-width: 1200px)
    display: grid;
    grid-template-columns: 1.618fr 1fr;

.cover-section
  display: grid;
  width: 100vw;
  min-height: 100vh;
  grid-template-rows: 60px auto auto 1fr;
  
  @media screen and (min-width: 1200px)
    grid-template-columns: 1.618fr 1fr;
    grid-template-rows: 60px auto 1fr;

.post-page
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  margin: 0 20px;

.post
  width: 100vw;
  height: 100vh;

  .post-body
    overflow-y: auto;

.excerpt
  font-size: 1.2em;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  color: rgba(0,0,0,0.62);
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 5px 60px;
  box-sizing: border-box;
  width: calc(100vw - 200px);
  max-width: 900px;
  
  @media screen and (min-width: 1200px)
    width: 100%;
    max-width: 100%;

  &:after
    bottom: 0;
  &:before
    top: 0;

  &:before, &:after
    background-color: #cd9023;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -18px;
    position: absolute;
    width: 36px;

cover
  grid-row: 2;
  grid-column: 1;

tracklist
  margin: 90px 0;
  grid-row: 4;
  
  @media screen and (min-width: 1200px)
    grid-row: 2;
    grid-row-end: 4;
    grid-column: 2;
    padding-left: 0;
    padding-right: 60px;

.title
  grid-row: 1;
  grid-column: 1;
  grid-column-end: 3;
  padding-top: 15px;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,.2);
  background: rgba(0,0,0,.2);

  h1
    margin: 0;
    font-family: font-primary;

  h2
    font-family: font-primary;
    font-weight: 300;
    font-size: 1em;
    margin: 0;
    letter-spacing: 0.2em;
    word-spacing: 0.15em;
    color: color-accent;

    span:after
      content: "/";
      margin: 0 10px;
    span:last-child:after
      content: "";