// Colors
//-----------------------------------------------------------------------------
cocoa-brown   = rgb(16, 13, 12);
tumbleweed    = #F7C8AB;
cameo         = #D6B09B;

color-text    = rgba(0,0,0,.62);

color-primary = cameo;
color-accent  = tumbleweed;
color-dark    = #000;

// Fonts
//-----------------------------------------------------------------------------
font-primary   = 'Open Sans Condensed', sans-serif;
font-secondary = 'Raleway', sans-serif;
font-tertiary  = 'Unica One', cursive;


// Content
//-----------------------------------------------------------------------------
content-padding = 0 50px;
content-margin = 20px 0;

