@import 'settings';

spread
  display: grid;

  &.attached
    @media screen and (max-width: bp-large)
      box-shadow: spread-shadow;
    
  &:not(.attached)
    @media screen and (max-width: bp-large)
      main
        box-shadow: spread-shadow;

      aside
        margin-top: 100px;
        background: none!important;

  main
    grid-column: 1;

  @media screen and (min-width: bp-large)
    grid-template-columns: 1.618fr 1fr;
    grid-column-gap: 40px;
    box-shadow: none;

    main
      box-shadow: spread-shadow;

  aside
    z-index: 6;

    @media screen and (min-width: bp-large)
      grid-column: 2;
      background: none!important;
      box-shadow: none!important;
