.color-picker
  position: relative;
  text-align: left;

  .color-sample
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5px;
    top: 5px;
    color: #fff;
    text-align: center;

  .color-name
    margin-left: 30px;

.color-picker-input
  display: none;
