.cover-edit
  display: grid;
  grid-template-columns: 165px 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .cover-image
    img
      box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);

  .palette
    margin-top: 20px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
