.tags
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  li
    display: block;
    padding: 12px 24px;
    margin-right: 10px;
    background: rgba(255,255,255,.2);
    height: 50px;
    box-sizing: border-box;
