.tags
  li
    padding: 12px 24px;
    margin-right: 10px;
    background: rgba(255,255,255,.2);
    height: 50px;
    box-sizing: border-box;
    white-space: nowrap;
    flex: 1;

    a
      width: 20px;
      padding: 3px;
      margin-right: -10px;
      color: rgba(0,0,0,.3);

      &:hover
        color: rgba(0,0,0,.62);
