.menu
  label
    font-size: 0.9em;
    color: #000;
    opacity: 0.62;
  
  input
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid rgba(0,0,0,.2);
    background: rgba(0,0,0,.03);
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    margin-bottom: 10px;

  select
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    background: rgba(0,0,0,.03);
    box-sizing: border-box;

  textarea
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    background: rgba(0,0,0,.03);
    font-family: 'Raleway', sans-serif;

  ul
    list-style: none;
    margin: 0;
    padding: 0;

  fieldset
    background: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.1)

    legend
      color: rgba(0,0,0,.5);
      font-size: 0.9em;

.uk-placeholder
  background: rgba(0,0,0,.03);


