.track-form
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  width: 100%;

.track-form-field
  label
    display: block;

  input
    width: 100%;
    box-sizing: border-box;
