.timeline
  box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.3)

.timestamps
  position: relative;
  cursor: pointer;

  .progress
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(46,170,183,.22);
    transition: width 0.2s;
    transition-timing-function: ease-in-out;

  ul
    list-style: none
    margin: 0
    padding: 0
    display: flex

    li
      height: 30px
      display: block
      background: rgba(0,0,0,.06)
      width: 40px
      border-bottom: 1px solid rgba(0,0,0,.1);

      &:not(:last-child)
        border-right: 1px solid rgba(0,0,0,.4)

.track-handles
  list-style: none
  margin: 0
  padding: 0
  display: flex

  li
    height: 15px
    display: block
    background: rgba(0,0,0,.075)
    border-bottom: 1px solid rgba(0,0,0,.1);
    cursor: pointer;

    &:not(:last-child)
      border-right: 1px solid rgba(0,0,0,.4)

    &:hover
      background: rgba(0,0,0,.03)

    &.selected
      background: #fff;
      border-bottom: none;
