@import '../settings';

.timeline
  box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.3)

.timestamps
  position: relative;
  cursor: pointer;

  .progress
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(46,170,183,.22);
    transition: width 0.2s;
    transition-timing-function: ease-in-out;

  ul
    display: flex

    li
      height: 40px
      display: block
      background: rgba(0,0,0,.06)
      border-bottom: 1px solid rgba(0,0,0,.1);
      box-sizing: border-box;

      &:not(:last-child)
        border-right: 1px solid rgba(0,0,0,.4)

.track-handles
  display: flex

  li
    height: 20px
    display: block
    background: rgba(0,0,0,.075)
    border-bottom: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
    box-sizing: border-box;

    &:not(:last-child)
      border-right: 1px solid rgba(0,0,0,.4)

    &:hover
      background: rgba(0,0,0,.03)

    &.selected
      background: color-editor-background;
      border-bottom: none;
