.playlist-editor-tracks
  display: grid;
  grid-template-columns: 1fr 60px;

  .add-track
    display: block;
    padding: 12px;
    background: #2eabb7
    color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    text-align: center;

    &:hover
      opacity: 0.9;

.track-form
  padding: 20px 60px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 60px;
  grid-column-gap: 20px;
  width: 100%;
  box-sizing: border-box;

  button
    background: #da664c;
    color: #fff;
    font-size: 1.2em;
    border: none;
    text-align: center;
    margin-top: 15px;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.7);
    cursor: pointer;

    &:hover
      opacity: 0.9;

    i
      margin: 0;

.track-form-field
  label
    display: block;

  input
    width: 100%;
    box-sizing: border-box;
