.track-form
  padding: 20px 60px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  width: 100%;
  box-sizing: border-box;

.track-form-field
  label
    display: block;

  input
    width: 100%;
    box-sizing: border-box;
