<template>
  <require from="components/editor/navbar"></require>
  <require from="components/editor/image-upload"></require>
  <require from="components/editor/audio-upload"></require>

  <navbar></navbar>

  <ul uk-tab="animation: uk-animation-fade" class="uk-padding uk-box-shadow-small">
    <li><a href="#">Images</a></li>
    <li><a href="#">Audio</a></li>
  </ul>
  <ul class="uk-switcher">
    <li>
      <image-upload content.bind="images"></image-upload>
    </li>
    <li>
      <audio-upload content.bind="audio"></audio-upload>
    </li>
  </ul>
</template>
