<template>
  <require from="components/editor/navbar"></require>

  <navbar actions.bind="actions"></navbar>

  <div class="uk-padding">
    <div class="uk-margin">
      <label for="post-headline">Headline</label>
      <input class="uk-input" id="post-headline" type="text" value.bind="content.headline">
    </div>
    <div class="uk-margin">
      <label for="post-subheadline">Subheadline</label>
      <input class="uk-input" id="post-subheadline" type="text" value.bind="content.alternativeHeadline">
    </div>
    <div class="uk-margin">
      <label for="post-audio">Audio</label>
      <select class="uk-input" id="post-audio" value.bind="content.audio.contentUrl">
        <option model.bind="''">Get audio from tracks</option>
        <option repeat.for="file of audio.files" model.bind="file">
          ${file}
        </option>
      </select>
    </div>
  </div>
</template>
