<template>
  <require from="components/editor/navbar"></require>

  <navbar actions.bind="actions"></navbar>

  <div class="uk-padding">
    <div class="uk-margin">
      <label for="post-headline">Headline</label>
      <input class="uk-input" id="post-headline" type="text" value.bind="content.headline">
    </div>
    <div class="uk-margin">
      <label for="post-audio">Audio</label>
      <input class="uk-input" id="post-audio" type="text" value.bind="content.audio.contentUrl">
    </div>
  </div>
</template>
