<template>
  <require from="components/editor/navbar"></require>

  <navbar actions.bind="actions"></navbar>

  <div class="uk-padding">
    <div class="uk-margin">
      <label for="post-headline">Headline</label>
      <input class="uk-input" id="post-headline" type="text" value.bind="content.headline">
    </div>
    <div class="uk-margin">
      <label>Cover image</label>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <div class="aspect-phi-landscape">
            <img src.bind="content.image" alt="" class="object-fit-cover">
          </div>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text uk-margin-right">Change</a>
          <a href="#" class="uk-button uk-button-text">Upload</a>
        </div>
      </div>
    </div>
    <div class="uk-margin">
      <label for="post-audio">Audio</label>
      <input class="uk-input" id="post-audio" type="text" value.bind="content.audio.contentUrl">
    </div>
  </div>
</template>
