<template>
  <require from="components/editor/navbar"></require>

  <navbar actions.bind="actions"></navbar>

  <div class="uk-padding">
    <div class="uk-card uk-card-default uk-width-1-1@s uk-margin-small uk-box-shadow-small uk-animation-slide-left-small" repeat.for="post of posts.data">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <span uk-icon="file-edit" class="uk-margin-small-right"></span>
          </div>
          <div class="uk-width-expand">
            <h4 class="uk-card-title uk-margin-remove-bottom">${post.headline}</h4>
            <p class="uk-text-meta uk-margin-remove-top">${post.datePublished}</p>
          </div>
          <div class="uk-width-auto">
            <a href="" uk-icon="pencil" class="uk-icon-link uk-margin-small-right"
              uk-toggle="target: #author-edit-modal" click.delegate="edit({author})"></a>
            <a href="" uk-icon="trash" class="uk-icon-link" uk-toggle="target: #remove-author-modal" click.delegate="select(author)"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="post-create-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Create Post</h2>
        <div class="uk-margin">
          <label for="post-audio">Headline</label>
          <input class="uk-input" id="post-headline" type="text" value.bind="selected.headline">
          <label for="post-audio">Author</label>
          <select class="uk-input" id="post-author" value.bind="author">
            <option repeat.for="author of authors.data" model.bind="author">
              ${author.givenName} ${author.familyName}
            </option>
          </select>
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-primary uk-modal-close" type="button" click.delegate="save()">Create</button>
        </p>
    </div>
  </div>
</template>
