<template>
  <require from="components/editor/navbar"></require>
  <require from="value-converters"></require>

  <div class="panel-flex">
    <navbar actions.bind="actions"></navbar>

    <ul uk-tab="animation: uk-animation-fade" class="uk-padding uk-box-shadow-small">
      <li><a href="#">Published</a></li>
      <li><a href="#">Drafts</a></li>
    </ul>
    <ul class="uk-switcher" style="overflow-y: auto">
      <li>
        <div class="uk-padding">
          <div class="uk-card uk-card-default uk-width-1-1@s uk-margin-small uk-box-shadow-small uk-animation-slide-left-small" style="max-height: 200px; transition: max-height 0.2s;" repeat.for="post of published">
            <div class="uk-card-header">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <span uk-icon="file-edit" class="uk-margin-small-right"></span>
                </div>
                <div class="uk-width-expand">
                  <a href="#playlists/${post._id}">
                    <h4 class="uk-card-title uk-margin-remove-bottom">${post.headline}</h4>
                  </a>
                  <p class="uk-text-meta uk-margin-remove-top">${post.datePublished | dateFormat}</p>
                </div>
                <div class="uk-width-auto">
                  <a uk-icon="menu" class="uk-icon-link" click.delegate="select(post)"></a>
                </div>
              </div>
            </div>
            <div class="uk-card-footer uk-animation-slide-top-small" if.bind="selected === post">
              <a href="#playlists/${post._id}" class="uk-button uk-button-text uk-margin-right">Edit</a>
              <a href="#" class="uk-button uk-button-text uk-margin-right" click.delegate="publish(false)">Unpublish</a>
              <a href="#" class="uk-button uk-button-text" uk-toggle="target: #post-remove-modal">Remove</a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-padding">
          <div class="uk-card uk-card-default uk-width-1-1@s uk-margin-small uk-box-shadow-small uk-animation-slide-left-small" repeat.for="post of drafts">
            <div class="uk-card-header">
              <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <span uk-icon="file-edit" class="uk-margin-small-right"></span>
                </div>
                <div class="uk-width-expand">
                  <a href="#playlists/${post._id}">
                    <h4 class="uk-card-title uk-margin-remove-bottom">${post.headline}</h4>
                  </a>
                  <p class="uk-text-meta uk-margin-remove-top">${post.datePublished}</p>
                </div>
                <div class="uk-width-auto">
                  <a uk-icon="menu" class="uk-icon-link" click.delegate="select(post)"></a>
                </div>
              </div>
            </div>
            <div class="uk-card-footer uk-animation-slide-top-small" if.bind="selected === post">
              <a href="#playlists/${post._id}" class="uk-button uk-button-text uk-margin-right">Edit</a>
              <a href="#" class="uk-button uk-button-text uk-margin-right" click.delegate="publish(true)">Publish</a>
              <a href="#" class="uk-button uk-button-text" uk-toggle="target: #post-remove-modal">Remove</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div id="post-remove-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Remove post</h2>
        <p>Are you sure you want to remove this post?</p>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-primary uk-modal-close" type="button" click.delegate="posts.delete(selected)">Remove</button>
        </p>
    </div>
  </div>

  <div id="post-create-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Create Post</h2>
        <div class="uk-margin">
          <label for="post-audio">Headline</label>
          <input class="uk-input" id="post-headline" type="text" value.bind="selected.headline">
          <label for="post-audio">Author</label>
          <select class="uk-input" id="post-author" value.bind="author">
            <option repeat.for="author of authors.data" model.bind="author">
              ${author.givenName} ${author.familyName}
            </option>
          </select>
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-primary uk-modal-close" type="button" click.delegate="save()">Create</button>
        </p>
    </div>
  </div>
</template>
