<template>
  <require from="components/editor/navbar"></require>

  <div class="panel-flex">
    <navbar title="Text" actions.bind="actions"></navbar>

    <ul class="uk-iconnav uk-padding-small uk-box-shadow-small" style="background: rgba(255,255,255,.2)">
      <li><a href="#">H</a></li>
      <li><a href="#" uk-icon="icon: bold"></a></li>
      <li><a href="#" uk-icon="icon: italic"></a></li>
      <li><a href="#" uk-icon="icon: quote-right"></a></li>
      <li><a href="#" uk-icon="icon: image"></a></li>
      <li><a href="#" uk-icon="icon: link"></a></li>
    </ul>

    <div class="text-editor">
      <textarea class="uk-textarea" value.bind="content[key]" spellcheck="false" style="height: 100%"></textarea>
    </div>
  </div>
</template>
