<template>
  <require from="components/editor/setting"></require>
  <require from="components/editor/navbar"></require>

  <navbar title="Page Template" actions.bind="actions"></navbar>

  <div if.bind="themeMeta.groups">
    <ul uk-tab="animation: uk-animation-fade" class="uk-padding uk-box-shadow-small">
      <li repeat.for="name of groupNames"><a href="#">${name}</a></li>
    </ul>
    <ul class="uk-switcher">
      <li repeat.for="name of groupNames" class="uk-padding">
        <div class="uk-margin" repeat.for="setting of groupSettings(name)">
          <setting data.bind="data" key.bind="setting.key"></setting>
        </div>
      </li>
    </ul>
  </div>

  <div if.bind="!themeMeta.groups" class="uk-padding">
    <div class="uk-margin" repeat.for="setting of settings">
      <setting data.bind="data" key.bind="setting.key"></setting>
    </div>
  </div>
</template>
