<template>
  <button class="uk-button uk-box-shadow-small" uk-toggle="target: #modal-create-post">
    <span class="uk-margin-small-right" uk-icon="plus"></span>
    Add Author
  </button>

  <table class="uk-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="author of authors">
        <td>${author.givenName} ${author.familyName}</td>
        <td>${author.email}</td>
        <td>
          <a href="" uk-icon="trash" class="uk-icon-link" uk-toggle="target: #remove-author-modal" click.delegate="selected = author"></a>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="remove-author-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Remove author</h2>
        <p>Are you sure you want to remove this author?</p>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-primary uk-modal-close" type="button" click.delegate="removeSelectedAuthor()">Remove</button>
        </p>
    </div>
  </div>
</template>
