<template>
  <div class="uk-card uk-card-default uk-width-1-1@s uk-margin-small uk-box-shadow-small uk-animation-slide-left-small" repeat.for="author of authors.data">
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <span uk-icon="user" class="uk-margin-small-right"></span>
        </div>
        <div class="uk-width-expand">
          <h4 class="uk-card-title uk-margin-remove-bottom">${author.givenName} ${author.familyName}</h4>
          <p class="uk-text-meta uk-margin-remove-top">${author.email}</p>
        </div>
        <div class="uk-width-auto">
          <a href="" uk-icon="pencil" class="uk-icon-link uk-margin-small-right" click.delegate="edit({author})"></a>
          <a href="" uk-icon="trash" class="uk-icon-link" uk-toggle="target: #remove-author-modal" click.delegate="select(author)"></a>
        </div>
      </div>
    </div>
  </div>

  <div id="remove-author-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Remove author</h2>
        <p>Are you sure you want to remove this author?</p>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-primary uk-modal-close" type="button" click.delegate="authors.delete(selected)">Remove</button>
        </p>
    </div>
  </div>
</template>
