<template>
  <require from="components/editor/navbar"></require>
  <require from="components/editor/navmenu"></require>
  <require from="components/editor/theme"></require>
  <require from="components/editor/home/author-edit"></require>
  <require from="components/editor/home/author-list"></require>
  <require from="components/editor/home/post-create"></require>
  <require from="components/editor/home/post-list"></require>
  <require from="styles/editor.styl"></require>
  <require from="styles/animations.styl"></require>

  <navbar></navbar>

  <div class="editor-panel au-animate animate-slide-in-left animate-slide-out-left" if.bind="editor.active && !editor.nav">
    <div class="uk-padding">
      <navmenu></navmenu>
    </div>
  </div>

  <div class="editor-panel au-animate animate-slide-in-right animate-slide-out-right" if.bind="editor.active && editor.nav === 'settings'">
    <div class="uk-padding">
      <theme settings.bind="settings"></theme>
    </div> 
  </div>

  <div class="editor-panel au-animate animate-slide-in-right animate-slide-out-right" if.bind="editor.active && editor.nav === 'assets'">
    <div class="uk-padding">
      <ul uk-accordion>
        <li>
          <a class="uk-accordion-title" href="#">Images</a>
          <div class="uk-accordion-content">
            <image-upload content.bind="images"></image-upload>
          </div>
        </li>
        <li>
          <a class="uk-accordion-title" href="#">Audio</a>
          <div class="uk-accordion-content">
            <audio-upload content.bind="audio"></audio-upload>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="editor-panel au-animate animate-slide-in-right animate-slide-out-right" if.bind="editor.active && editor.nav === 'posts'">
    <div class="uk-padding">
      <post-list></post-list>
    </div>
  </div>

  <div class="editor-panel au-animate animate-slide-in-right animate-slide-out-right" if.bind="editor.active && editor.nav === 'authors'">
    <div class="uk-padding">
      <author-list edit.call="editAuthor(author)"></author-list>
    </div>
  </div>

  <post-create></post-create>  
  <author-edit author.bind="author"></author-edit>
</template>
