<template>
  <button class="uk-button uk-box-shadow-small" uk-toggle="target: #modal-create-post" click.delegate="createPost()">
    <span class="uk-margin-small-right" uk-icon="plus"></span>
    Create Post
  </button>

  <table class="uk-table">
    <thead>
      <tr>
        <th>Headline</th>
        <th>Pubishing Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="post of posts.data">
        <td>${post.headline}</td>
        <td>${post.datePublished}</td>
        <td>
          <a href="" uk-icon="trash" class="uk-icon-link"></a>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="create-post-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Create Post</h2>
        <div class="uk-margin">
          <label for="post-audio">Headline</label>
          <input class="uk-input" id="post-headline" type="text" value.bind="selected.headline">
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-primary uk-modal-close" type="button" click.delegate="posts.save(selected)">Create</button>
        </p>
    </div>
  </div>
</template>
