@import 'settings';


// General
//-----------------------------------------------------------------------------
body
  margin: 0;
  min-height: 100vh;
  color: rgba(0,0,0,.62);
  background-color: #e8e5df;

h1
  font-family: font-primary;
  font-weight: 200;
  font-size: 1.5em;

p
  font-family: font-primary;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;

a
  font-family: font-secondary;
  text-decoration: none;
  color: color-primary-darken;

  &:hover
    color: color-primary-lighten;

img
  width: 100%;

ul.plain
  list-style: none;
  margin: 0;
  padding: 0;

.button
  color: color-primary-lighten;
  font-size: 1.5em;
  transition: opacity .2s;
  text-decoration: none;

  &:hover
    cursor: pointer;
    opacity: 1;
    color: #fff;


// Image
//-----------------------------------------------------------------------------
.blend-bottom
  -webkit-mask-image: -webkit-gradient(linear, left 70%, left bottom, from(#000), to(rgba(0,0,0,0)));

// Utility
//-----------------------------------------------------------------------------
.aspect-square
  position: relative;
  padding-bottom: 100%;

.aspect-phi-landscape
  position: relative;
  padding-bottom: 61.80%; /* Golden ratio */

.object-fit-cover
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;

.font-primary
  font-family: font-primary;

.font-secondary
  font-family: font-secondary;

// Content
//-----------------------------------------------------------------------------
.container
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: auto;
  overflow-x: hidden;

.content
  position: relative;
  padding: 0 content-padding;
  margin: content-padding 0;
  box-sizing: border-box;

.screen
  width: 100vw;
  height: 100vh;

.left
  left: 0;

.right
  right: scrollbar-width;

.pad
  padding: 0 content-padding;

.pad-xsmall-up
  @media screen and (min-width: bp-xsmall)
    padding: 0 content-padding;

.pad-small-up
  @media screen and (min-width: bp-small)
    padding: 0 content-padding;

.pad-medium-up
  @media screen and (min-width: bp-medium)
    padding: 0 content-padding;
  
.segment
  @media screen and (min-width: bp-medium)
    width: 100%;
    max-width: bp-large;
    margin: 0 auto;
    box-sizing: border-box;
  
  @media screen and (min-width: bp-large)
    max-width: bp-xlarge;


// Scrollbar
//-----------------------------------------------------------------------------
::-webkit-scrollbar
  width: scrollbar-width;

::-webkit-scrollbar-track
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;

::-webkit-scrollbar-thumb
  background: color-primary;


// Title bar
//-----------------------------------------------------------------------------
.title
  text-align: center;
  box-sizing: border-box;
  margin-top: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  padding: 15px (content-padding / 2);
  background: rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  box-shadow: title-shadow;
  height: content-padding;

  h1
    margin: 0;
  
  
// Text
//-----------------------------------------------------------------------------
.excerpt
  font-size: 1.2em;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  color: rgba(0,0,0,0.62);
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 5px 60px;
  box-sizing: border-box;
  max-width: 900px;
  
  @media screen and (min-width: bp-xlarge)
    width: 100%;
    max-width: 100%;

  &:after
    bottom: 0;
  &:before
    top: 0;

  &:before, &:after
    background-color: #cd9023;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -18px;
    position: absolute;
    width: 36px;

// UI Kit
//-----------------------------------------------------------------------------
.uk-box-shadow-medium
  box-shadow: 0 5px 15px rgba(0,0,0,.4);

.uk-input, .uk-select, .uk-button
  height: 50px!important;

.uk-input, .uk-select, .uk-textarea
  border: 1px solid rgba(0,0,0,.1);
  background: rgba(0,0,0,.03)!important;

.uk-button:not(.uk-button-primary)
  background: rgba(255,255,255,.2);

  &:hover
    background: rgba(255,255,255,.4);

.uk-placeholder
  background: rgba(0,0,0,.03);

.uk-nav-default .uk-nav-divider
  border-top: 1px solid rgba(0,0,0,.1);

.uk-table th
  border-bottom: 1px solid rgba(0,0,0,.1);

.uk-notification-message
  font-family: font-primary;
  width: 450px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);

.uk-iconnav>*
  padding-left: 20px;

.uk-tab
  background: rgba(255,255,255,.2);
  margin: 0;

// Page
//-----------------------------------------------------------------------------
.app-container
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;


  .page-container
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    transition: transform 0.4s ease-out;
    overflow: hidden;

    &.edit
      top: 20px;
      left: 500px;
      width: calc(100vw - 500px);
      height: calc(100vh - 20px);
      box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.25);

    &.edit.editor-toolbar-full
      transform: translateY(80px);

    .page
      position: absolute;
      width: 100%;
      height: 100%;
