@import 'settings';

.editor-toggle
  position: absolute;
  top: calc(50vh - 40px);
  left: 0;
  background: #fff;
  width: 30px;
  height: 80px;
  border-radius: 0 5px 5px 0;
  z-index: 10;
  border: 1px solid rgba(0,0,0,.1)

  &.active
    left: 500px;
    margin-left: -6px;

// General
//-----------------------------------------------------------------------------
.editor-navbar
  position: absolute;
  width: 100%;
  background: rgba(0,0,0,.02)!important;

  .uk-navbar-nav
    li.uk-active
      // background: #e8e5df;
/*
      a
        color: rgba(0,0,0,.62);
*/
  .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle
    // min-height: 60px;
    font-size: .675rem;

.editor-toolbar
  position: absolute;
  top: 0;
  height: 60px;
  left: 0;
  right: 0;
  display: grid;

  .editor-tab
    display: block;
    border-right: 1px solid rgba(0,0,0,.3);
    background:#646360;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 1.3em;
    height: 60px;
    box-sizing: border-box;

    &.selected
      background: #e8e5df
      color: rgba(0,0,0,.62);
      cursor: unset;

.editor-panel
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  color: rgba(0,0,0,.62);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  box-sizing: border-box;

  .uk-hr, hr
    border-top: 1px solid rgba(0,0,0,.1);

  .uk-card
    background: rgba(255,255,255,.2);

  .uk-card-title
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    color: rgba(0,0,0,.62);

  .uk-nav-default > li > a
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 1.8em;

.post-editor-toolbar
  grid-template-columns: 100px 100px 100px 100px 1fr;

.home-editor-toolbar
  grid-template-columns: 100px 100px 1fr;

// Text
//-----------------------------------------------------------------------------
.text-editor
  height: 100%;
  box-sizing: border-box;

// Tag list
//-----------------------------------------------------------------------------
.tags
  li
    padding: 12px 24px;
    margin-right: 10px;
    background: rgba(255,255,255,.2);
    height: 50px;
    box-sizing: border-box;
    white-space: nowrap;
    flex: 1;

    a
      width: 20px;
      padding: 3px;
      margin-right: -10px;
      color: rgba(0,0,0,.3);

      &:hover
        color: rgba(0,0,0,.62);


// Playlist timeline
//-----------------------------------------------------------------------------
playlist-timeline
  width: 100%;

.timeline
  box-shadow: inset 1px 2px 5px -2px rgba(0,0,0,0.3)

.timestamps
  position: relative;
  cursor: pointer;

  .progress
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(46,170,183,.22);
    transition: width 0.2s;
    transition-timing-function: ease-in-out;

  ul
    display: flex

    li
      height: 40px
      display: block
      background: rgba(0,0,0,.02)
      border-bottom: 1px solid rgba(0,0,0,.1);
      box-sizing: border-box;

      &:not(:last-child)
        border-right: 1px solid rgba(0,0,0,.2)

.track-handles
  display: flex

  li
    height: 40px
    display: block
    background: rgba(0,0,0,.03)
    border-bottom: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
    box-sizing: border-box;

    &:not(:last-child)
      border-right: 1px solid rgba(0,0,0,.2)

    &:hover
      background: rgba(0,0,0,.03)

    &.selected
      background: color-editor-background;
      border-bottom: none;

// Color picker
//-----------------------------------------------------------------------------
.color-picker
  position: relative;
  text-align: left;

  .color-sample
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5px;
    top: 5px;
    color: #fff;
    text-align: center;

  .color-name
    margin-left: 30px;

.color-picker-input
  display: none;