@import 'settings';

@keyframes homeEnter
  0%
    opacity: 0;
    transform: scale(0.8);
  100%
    opacity: 1;
    transform: scale(1);

@keyframes postCardEnter
  0%
    transform: scale(0.8);
  100%
    transform: scale(1);

@keyframes homeLeave
  0% {opacity: 1;}
  100% {opacity: 0;}

.home.au-enter-active
  animation: homeEnter 0.5s;

  card
    animation: postCardEnter 0.5s;
  