@import 'settings';

.post-list
  display: grid;
  margin: 100px auto;
    
  @media screen and (min-width: bp-xsmall)
    grid-column-gap: content-padding;
    grid-row-gap: content-padding;

  &.cols-1
    grid-template-columns: 1fr;

  &.cols-2
    grid-template-columns: repeat(2, 1fr);

  &.cols-3
    grid-template-columns: repeat(3, 1fr);

  &.cols-4
    grid-template-columns: repeat(4, 1fr);

  &.cols-5
    grid-template-columns: repeat(5, 1fr);

.post-list-footer
  margin: 100px 0;

  .load-more
    display: block;
    width: 100%;
    border: 1px solid color-primary-darken;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;

    a
      justify-content: center;
