@import 'animations.styl';
@import 'settings.styl';

// Animation
//-----------------------------------------------------------------------------
@keyframes postEnter
  0% {opacity: 1;}
  100% {opacity: 1;}

@keyframes postLeave
  0% {opacity: 1;}
  100% {opacity: 1;}

@keyframes coverFrameLeave
  0%
    opacity: 1;
  100%
    opacity: 0.5;

@keyframes coverFrameEnter
  0%
    opacity: 0;
  100%
    opacity: 1;

@keyframes playerEnter
  0%
    transform: translateY(200px);
    opacity: 0;
  100%
    transform: translateY(0px);
    opacity: 1;

@keyframes playerLeave
  0% 
    transform: translateY(0px);
    opacity: 1;
  100% 
    transform: translateY(200px);
    opacity: 0;

@keyframes tracklistEnter
  0%
    transform: translateX(200px);
    opacity: 0;
  100%
    transform: translateX(0px);
    opacity: 1;

@keyframes tracklistLeave
  0% 
    transform: translateX(0px);
    opacity: 1;
  100% 
    transform: translateX(200px);
    opacity: 0;

.post.au-enter-active
  animation: postEnter 0.5s;

  cover
    img
      animation: coverFrameEnter 0.5s;
  tracklist
    animation: tracklistEnter 0.5s;
  .player
    animation: playerEnter 0.5s;

.post.au-leave-active
  animation: postLeave 0.5s;

  cover
    img
      animation: coverFrameLeave 0.5s;
  tracklist
    animation: tracklistLeave 0.5s;
  .player
    animation: playerLeave 0.5s;


.info
  text-align: center;

.post
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

  &.edit
    top: 100px;
    bottom: 0;
    left: 500px;
    right: 0;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.25);

// Background image
//-----------------------------------------------------------------------------
.background-image
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  transform: scaleX(-1);


// Cover
//-----------------------------------------------------------------------------
#post-cover
  margin-top: 60px;

  @media screen and (min-width: bp-medium)
    margin-top: 100px;

.cover-main
  position: relative;


// Body
//-----------------------------------------------------------------------------
#post-body
  margin: 0 auto;
  padding-bottom: 100px;
  background: color-background;
  z-index: 3;

  aside
    padding: 0 content-padding;

    @media screen and (min-width: bp-medium)
      padding: 0;

    @media screen and (min-width: bp-large)
      margin-top: 100px;

  .text
    padding: 100px 0;

.nav-button
  position: absolute;
  top: 0;
  z-index: 200;
  width: content-padding;
  height: content-padding;
  text-align: center;

  a
    vertical-align: middle;
    line-height: content-padding;

.edit-panel
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 500px;
  color: rgba(0,0,0,.62);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  box-sizing: border-box;

.timeline-edit-panel
  position: absolute;
  top: 0;
  height: 60px;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 100px 100px 100px 1fr;

.post-edit-tab
  display: block;
  border-right: 1px solid rgba(0,0,0,.3);
  background:#646360;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 1.3em;
  height: 60px;
  box-sizing: border-box;

  &.selected
    background: #e8e5df
    color: rgba(0,0,0,.62);
    cursor: unset;

.post
  transition: left 0.1s ease-in-out, top 0.1s ease-in-out;

.content-main
  background: #fff;

.spread
  display: grid;

  &.attached
    @media screen and (max-width: bp-large)
      box-shadow: spread-shadow;
    
  &:not(.attached)
    @media screen and (max-width: bp-large)
      main
        box-shadow: spread-shadow;

      aside
        margin-top: 100px;
        background: none!important;

  main
    grid-column: 1;

  @media screen and (min-width: bp-large)
    grid-template-columns: 1.618fr 1fr;
    grid-column-gap: 40px;
    box-shadow: none;

    //main
      // box-shadow: spread-shadow;

  aside
    z-index: 6;

    @media screen and (min-width: bp-large)
      grid-column: 2;
      background: none!important;
      box-shadow: none!important;
