// Colors
//-----------------------------------------------------------------------------
desert-storm  = #F1F0EF;
tumbleweed    = #F7C8AB;
cameo         = #D6B09B;
cement        = #8d7263;
asphalt       = #0C0604;

color-text    = rgba(0,0,0,.62);

color-primary          = cameo;
color-primary-lighten  = tumbleweed;
color-primary-darken   = cement;
color-dark             = asphalt;
color-background       = desert-storm;

color-editor-background = #e8e5df;

// Fonts
//-----------------------------------------------------------------------------
font-primary   = 'Open Sans Condensed', sans-serif;
font-secondary = 'Raleway', sans-serif;
font-tertiary  = 'Unica One', cursive;

// Content
//-----------------------------------------------------------------------------
content-padding = 60px;
content-margin = 20px 0;

// Breakpoints
//-----------------------------------------------------------------------------
bp-xsmall  = 700px;
bp-small   = 900px;
bp-medium  = 1024px;
bp-large   = 1280px;
bp-xlarge  = 1600px;
bp-xxlarge = 1920px;

// Scrollbar
//-----------------------------------------------------------------------------
scrollbar-width = 5px;

// Spread
//-----------------------------------------------------------------------------
spread-shadow = 0px 0px 8px 1px rgba(0,0,0,0.3);

// Title bar
//-----------------------------------------------------------------------------
title-shadow = 1px 1px 8px 0px rgba(0,0,0,0.5);

// Embedded video
//-----------------------------------------------------------------------------
video-aspect-ratio = 56.25%; /* 16:9 */
