@import 'settings';

.tracklist
  display: block;
  padding: content-padding 0;
  background: rgba(0,0,0,.07);
  
  @media screen and (min-width: bp-large)
    padding-top: 0;
    background: none;

  ul
    overflow: hidden;

  li
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.3s;
    box-sizing: border-box;
    text-align: center;

    &:last-child
      border-bottom: 0;

    &:hover
      background: linear-gradient(
        rgba(0, 0, 0,.06) 0%,
        rgba(0, 0, 0, 0) 15%, 
        rgba(0, 0, 0, 0) 85%, 
        rgba(0, 0, 0,.06) 100%
      );

    .track-index
      width: 30px;
      float: left;
      padding: 10px;
      height: 30px;
      margin-right: 20px;
      margin-top: 3px;
      color: color-primary;
      font-family: font-primary;

    .track-info
      margin-top: -5px;
      font-size: 0.75rem;
      color: color-primary;
      font-family: font-secondary;
      font-weight: 300;
      display: block;

    h1
      color: #fff;
      margin: 0px;
      font-size: 1rem;
  
  @media screen and (min-width: bp-xsmall)
    column-count: 2;
    column-gap: 40px;

  @media screen and (min-width: bp-large)
    li
      text-align: left;

  @media screen and (min-width: bp-xsmall) and (max-width: bp-large)
    li
      text-align: left;

    li.first-half
      text-align: right;