@import '../settings';

.card
  display: block;
  height: 100%;
  position: relative;
  box-shadow: card-shadow;

  .card-image-inner
    position: relative;
    overflow: hidden;
    min-height: card-image-min-height;
    background-size: cover;
    background-position: center;
    -webkit-mask-image: -webkit-gradient(linear, left 70%, left bottom, from(#000), to(rgba(0,0,0,0)));

  .card-title
    position: absolute;
    color: #fff;
    bottom: 0;
    padding: 0 content-padding;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 90px;

  .card-footer
    background-color: rgba(0,0,0,.1);

    .card-meta
      padding: 40px content-padding;
      display: flex;
      justify-content: space-between;
      margin: 0;

      & > li
        display: inline-block;
        text-transform: uppercase;
        font-family: font-primary;
        font-size: 0.9em;
        color: rgba(255,255,255,.7);

        span, i
          margin-right: 8px;