@import '../../styles/animations.styl';
@import '../../styles/settings.styl';

// Animation
//-----------------------------------------------------------------------------
@keyframes postEnter
  0% {transform: translateY(100%);}
  100% {transform: translateY(0);}

@keyframes postLeave
  0% {transform: translateY(0);}
  100% {transform: translateY(100%);}

@keyframes coverFrameLeave
  0%
    opacity: 1;
  100%
    opacity: 0.5;

@keyframes coverFrameEnter
  0%
    opacity: 0;
  100%
    opacity: 1;

@keyframes playerEnter
  0%
    transform: translateY(200px);
    opacity: 0;
  100%
    transform: translateY(0px);
    opacity: 1;

@keyframes playerLeave
  0% 
    transform: translateY(0px);
    opacity: 1;
  100% 
    transform: translateY(200px);
    opacity: 0;

@keyframes tracklistEnter
  0%
    transform: translateX(200px);
    opacity: 0;
  100%
    transform: translateX(0px);
    opacity: 1;

@keyframes tracklistLeave
  0% 
    transform: translateX(0px);
    opacity: 1;
  100% 
    transform: translateX(200px);
    opacity: 0;

.post.au-enter-active
  animation: postEnter 0.5s ease-in-out;

  cover
    img
      animation: coverFrameEnter 0.5s;
  tracklist
    animation: tracklistEnter 0.5s;
  .player
    animation: playerEnter 0.5s;

.post.au-leave-active
  animation: postLeave 1.5s ease-in-out;

  cover
    img
      animation: coverFrameLeave 0.5s;
  tracklist
    animation: tracklistLeave 0.5s;
  .player
    animation: playerLeave 0.5s;


.info
  text-align: center;

// Background image
//-----------------------------------------------------------------------------
.background-image
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  transform: scaleX(-1);


// Cover
//-----------------------------------------------------------------------------
#post-cover
  margin-top: 60px;

  @media screen and (min-width: bp-medium)
    margin-top: 100px;

.cover-main
  position: relative;


// Body
//-----------------------------------------------------------------------------
#post-body
  margin: 0 auto;
  padding-bottom: 100px;
  background: color-background;
  z-index: 3;

  aside
    padding: 0 content-padding;

    @media screen and (min-width: bp-medium)
      padding: 0;

    @media screen and (min-width: bp-large)
      margin-top: 100px;

  .text
    padding: 100px 0;

.nav-button
  position: absolute;
  top: 0;
  z-index: 200;
  width: content-padding;
  height: content-padding;
  text-align: center;

  a
    vertical-align: middle;
    line-height: content-padding;


.post
  transition: left 0.1s ease-in-out, top 0.1s ease-in-out;

.content-main
  background: #fff;
  z-index: 2;

.spread
  display: grid;

  &.attached
    @media screen and (max-width: bp-large)
      box-shadow: spread-shadow;
    
  &:not(.attached)
    @media screen and (max-width: bp-large)
      main
        box-shadow: spread-shadow;

      aside
        margin-top: 100px;
        background: none!important;

  main
    grid-column: 1;

  @media screen and (min-width: bp-large)
    grid-template-columns: 1.618fr 1fr;
    grid-column-gap: 40px;
    box-shadow: none;

    //main
      // box-shadow: spread-shadow;

  aside
    z-index: 6;

    @media screen and (min-width: bp-large)
      grid-column: 2;
      background: none!important;
      box-shadow: none!important;


// Tracklist
//-----------------------------------------------------------------------------
.tracklist
  display: block;
  padding: content-padding 0;
  background: rgba(0,0,0,.07);
  
  @media screen and (min-width: bp-large)
    padding-top: 0;
    background: none;

  ul
    overflow: hidden;

  li
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.3s;
    box-sizing: border-box;
    text-align: center;

    &:last-child
      border-bottom: 0;

    &:hover
      background: linear-gradient(
        rgba(0, 0, 0,.06) 0%,
        rgba(0, 0, 0, 0) 15%, 
        rgba(0, 0, 0, 0) 85%, 
        rgba(0, 0, 0,.06) 100%
      );

    .track-index
      width: 30px;
      float: left;
      padding: 10px;
      height: 30px;
      margin-right: 20px;
      margin-top: 3px;
      color: color-primary;
      font-family: font-primary;

    .track-info
      margin-top: -5px;
      font-size: 0.75rem;
      color: color-primary;
      font-family: font-secondary;
      font-weight: 300;
      display: block;

    h1
      color: #fff;
      margin: 0px;
      font-size: 1rem;
  
  @media screen and (min-width: bp-xsmall)
    column-count: 2;
    column-gap: 40px;

  @media screen and (min-width: bp-large)
    li
      text-align: left;

  @media screen and (min-width: bp-xsmall) and (max-width: bp-large)
    li
      text-align: left;

    li.first-half
      text-align: right;


// Player
//-----------------------------------------------------------------------------
.cover-content
  margin-top: -100px;
  
  @media screen and (min-width: bp-medium)
    margin-top: -150px;

player
  display: block;
  width: 100%;

  &.active
    transition: margin-top 1s;

  &.inactive
    margin-top: 300px;

  .track-details
    margin: 0 30px;
    padding: 20px 0;
    align-self: end;
    text-align: center;
    
    h1
      margin: 10px 0;
      font-size: 1.5em;

    h2
      font-size: 1rem;
      color: color-primary;
      font-family: font-secondary;
      font-weight: 300;
      margin: 0;
  
  .track-controls
    margin: 10px 0;
    text-align: center;

    .timestamp
      margin: 10px 0;
      color: color-primary-lighten;
      font-family: font-primary;
      opacity: 0.6;

    .time
      float: left;
    
    .duration
      float: right;

    .play
      font-size: 35px;

    a
      margin: 20px;
      color: color-primary-lighten;
      
      &:hover
        color: #fff;

.track-timeline
  .slider
    width: 100%;
    height: 3px;
    background-color: color-primary-lighten;
    opacity: 0.2;
    border-radius: 50%;

  input[type=range] {
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    margin: 0.8px 0;
    border-radius: 50%;
    background: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5.0px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: none;
    border: 1px solid color-primary-darken;
    border-radius: 50%;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0.4px 0.4px 1px rgba(0, 0, 0, 0.5), 0px 0px 0.4px rgba(13, 13, 13, 0.5);
    border: 0.1px solid #000000;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: color-primary-lighten;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(13, 13, 13, 0.4);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: rgba(13, 13, 13, 0.4);
    border-radius: 25px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0.4px 0.4px 1px rgba(0, 0, 0, 0.5), 0px 0px 0.4px rgba(13, 13, 13, 0.5);
    border: 0.1px solid #000000;
    height: 10px;
    width: 24px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(242, 242, 242, 0.41);
    border: 0px solid #010101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.41);
    border: 0px solid #010101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0.4px 0.4px 1px rgba(0, 0, 0, 0.5), 0px 0px 0.4px rgba(13, 13, 13, 0.5);
    border: 0.1px solid #000000;
    height: 10px;
    width: 24px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.41);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.41);
  }
