<template>
  <require from="components/editor/upload"></require>

  <upload assets.bind="content"></upload>

  <div class="uk-padding uk-padding-remove-vertical">
    <div class="uk-card uk-card-default uk-width-1-1@s uk-margin-small uk-box-shadow-small uk-animation-slide-top-small" repeat.for="file of content.files">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <a href="" uk-icon="play-circle" class="uk-icon-link uk-margin-small-right"></a>
          </div>
          <div class="uk-width-expand">
            <h4 class="uk-card-title uk-margin-remove-bottom">${file}</h4>
            <p class="uk-text-meta uk-margin-remove-top">Duration</p>
          </div>
          <div class="uk-width-auto">
            <a href="" uk-icon="trash" class="uk-icon-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="remove-audio-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Remove</h2>
        <p>Are you sure you want to remove this file?</p>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          <button class="uk-button uk-button-primary uk-modal-close" type="button" click.delegate="remove()">Remove</button>
        </p>
    </div>
  </div>
</template>
