<template>
  <require from="components/editor/color-picker"></require>
  <require from="styles/editor/cover-edit.styl"></require>

  <div class="cover-edit">
    <div class="uk-margin">
      <input class="uk-input" type="text" value.bind="editor.post.headline">
    </div>
    <div class="uk-margin">
      <select class="uk-select" value.bind="editor.post.image">
        <option value="images/${editor.post._id}/${image}" repeat.for="image of editor.images">${image}</option>
      </select>
    </div>
    <div class="uk-margin">
      <color-picker name="Background" color.bind="state.post.palette.primary"></color-picker>
    </div>
    <div class="uk-margin">
      <color-picker name="Cover" color.bind="state.post.palette.dark"></color-picker>
    </div>
  </div>
</template>
