<template>
  <require from="components/editor/color-picker"></require>
  <require from="styles/common/cover-image.styl"></require>
  <require from="styles/editor/cover-edit.styl"></require>

  <div class="content cover-edit">
    <select value.bind="state.post.image">
      <option value="images/${state.post._id}/${image}" repeat.for="image of state.images">${image}</option>
    </select>
    <color-picker name="Background" color.bind="state.post.palette.primary"></color-picker>
    <color-picker name="Cover" color.bind="state.post.palette.dark"></color-picker>
  </div>
</template>
