<template>
  <require from="components/editor/navbar"></require>
  <require from="components/editor/navmenu"></require>
  <require from="styles/editor.styl"></require>
  <require from="styles/animations.styl"></require>

  <div if.bind="editor.nav !== undefined && section.component.toolbar" class="uk-animation-slide-top-small">
    <compose view.bind="section.component.toolbar" view-model.bind="viewModel(section.component)" model.bind="model"></compose>
  </div>

  <div class="editor-panel au-animate animate-slide-in-left animate-slide-out-left" if.bind="editor.nav === undefined">
    <div class="uk-padding-large">
      <navmenu></navmenu>
    </div>
  </div>

  <div class="editor-panel au-animate animate-slide-in-right animate-slide-out-right ${editor.toolbar ? 'toolbar' : ''}" if.bind="editor.nav !== undefined">
    <div style="height: 100%; box-sizing: border-box;">
      <compose containerless view-model.bind="viewModel(section.component)" model.bind="model" view.bind="section.component.panel"></compose>
    </div>
  </div>
</template>
