<template>
  <require from="components/editor/navitem.html"></require>

  <div class="uk-padding uk-padding-remove-bottom" style="padding-top: 70px;">
    <h1>
      ${title}
    </h1>
    <ul class="uk-navbar-nav">
      <li>
        <a click.delegate="editor.navigate()">
          <navitem item.bind="{ title: 'Menu', icon: 'chevron-left'}"></navitem>
        </a>
      </li>
      <li repeat.for="action of actions">
        <a if.bind="action.call" click.delegate="call(action)">
          <navitem item.bind="action"></navitem>
        </a>
        <a if.bind="action.route" click.delegate="route(action.route)">
          <navitem item.bind="action"></navitem>
        </a>
        <a if.bind="action.href" href.bind="action.href">
          <navitem item.bind="action"></navitem>
        </a>
        <a if.bind="action.toggle" href="#" data-uk-toggle.bind="action.toggle">
          <navitem item.bind="action"></navitem>
        </a>
      </li>
    </ul>
  </div>
</template>
