<template>
  <require from="components/editor/navitem.html"></require>

  <div if.bind="editor.page.content" class="uk-margin-large-bottom">
    <h1>
      ${editor.page.content.headline}
    </h1>
    <ul class="uk-breadcrumb">
      <li><a href="#">Home</a></li>
      <li><span>${editor.page.config.name}</span></li>
    </ul>
  </div>

  <div if.bind="editor.page.config.name === 'home'" class="uk-margin-large-bottom">
    <h1>
      ${title}
    </h1>
    <ul class="uk-breadcrumb">
      <li class="uk-disabled"><span>Home</span></li>
    </ul>
  </div>

  <div class="uk-width-1-1@s">
    <ul class="uk-nav uk-nav-default">
      <li repeat.for="item of editor.menu.items" class="${!item.component ? 'uk-nav-header' : ''}">
        <a if.bind="item.component" click.delegate="editor.navigate($index)">
          <navitem item.bind="item"></navitem>
        </a>
        <span if.bind="!item.component">${item.title}</span>
      </li>
    </ul>
  </div>
</template>
