<template>
  <require from="components/common"></require>
  <require from="components/editor/playlist-timeline"></require>
  <require from="styles/editor/playlist-editor.styl"></require>

  <playlist-timeline playlist.bind="data"></playlist-timeline>
  <div class="track-form">
    <div class="track-form-field">
      <label for="track-name">Name</label>
      <input id="track-name" type="text" value.bind="track.name">
    </div>
    <div class="track-form-field">
      <label for="track-artist">Artist</label>
      <input id="track-artist" type="text" value.bind="track.byArtist">
    </div>
    <div class="track-form-field">
      <label for="track-year">Year</label>
      <input id="track-year" type="number" value.bind="track.copyrightYear | integerFromInput">
    </div>
    <div class="track-form-field">
      <label for="track-minutes">Minutes</label>
      <input id="track-minutes" type="number" value.bind="track.duration.minutes | integerFromInput">
    </div>
    <div class="track-form-field">
      <label for="track-seconds">Seconds</label>
      <input id="track-seconds" type="number" value.bind="track.duration.seconds | integerFromInput" step="0.1">
    </div>
  </div>
</template>
