<template>
  <require from="styles/editor/editor.styl"></require>

  <ul class="tags plain uk-flex uk-flex-wrap uk-flex-wrap-stretch">
    <div class="uk-margin-small-right">
      <button class="uk-button uk-box-shadow-small" type="button" click.delegate="showAdd()">
        <span if.bind="editing" uk-icon="chevron-up"></span>
        <span if.bind="!editing" uk-icon="plus"></span>
      </button>
      <div uk-dropdown="mode: click; pos: top-left" hide.delegate="hide()">
        <div class="uk-flex">
          <div class="uk-margin-right">
            <input class="uk-input uk-inline tag-input" type="text" value.bind="tag">
          </div>
          <button class="uk-button uk-button-default" click.delegate="add()" disabled.bind="tag === ''">Add</button>
        </div>
      </div>
    </div>
    <li repeat.for="tag of tags" class="uk-box-shadow-small uk-margin-small-bottom uk-flex uk-flex-between">
      <span>${tag}</span>
      <a class="uk-margin-small-left uk-text-center" uk-icon="minus-circle" click.delegate="tags.splice($index, 1)"></a>
    </li>
  </ul>
</template>
