<template>
  <require from="components/common/common"></require>
  <require from="styles/editor/track-editor.styl"></require>

  <label for="track-name">Name</label>
  <input id="track-name" type="text" value.bind="track.name">
  <label for="track-artist">Artist</label>
  <input id="track-artist" type="text" value.bind="track.byArtist">
  <label for="track-year">Year</label>
  <input id="track-year" type="number" value.bind="track.copyrightYear | integerFromInput">
  <div class="uk-child-width-1-2@s" uk-grid>
    <div>
      <label for="track-minutes">Minutes</label>
      <input id="track-minutes" type="number" value.bind="track.duration.minutes | integerFromInput">
    </div>
    <div>
      <label for="track-seconds">Seconds</label>
      <input id="track-seconds" type="number" value.bind="track.duration.seconds | integerFromInput" step="0.1">
    </div>
  </div>
  <button class="uk-button uk-button-default" click.delegate="editor.removeTrack()">
    <i class="fal fa-trash"></i>
    Remove
  </button>
</template>
